body {
   font-family: 'Lato', sans-serif;
}

:root {
   --gray-cl: #888;
   --btn-cl: #16d5ff;
}

p {
   color: var(--gray-cl);
}

.btn {
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   border-radius: 5px;
   color: #fff !important;
   background-color: var(--btn-cl);
}

.btn:hover {
   transform: translate(0,-5px);
}

#hero-section {
   background: url(https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/banner-bg.svg);
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}

.header__inner {
   padding: 40px 0;
}

.header__item {
   position: relative;
   display: flex;
   align-items: center;
   text-transform: uppercase;
   padding: 0 30px;
   color: var(--gray-cl);
}

.header__item .bx {
   font-size: 26px;
   transition: transform 0.4s ease;
}

.header__item:hover .bx {
   transform: rotateZ(180deg);
   color: var(--btn-cl);
}

.header__link {
   position: relative;
   font-weight: 700;
   font-size: 16px;
   color: var(--gray-cl);
   transition: color 0.4s ease;
}

.header__link::before {
   position: absolute;
   bottom: -7px;
   height: 0;
   width: 0;
   content: '';
   background-color: var(--btn-cl);
   transition: width 0.4s ease,
   height 0.4s ease;
}

.header__item:hover .header__link::before {
   height: 2px;
   width: 100%;
   transition: width 0.4s ease;
}

.header__item:hover .header__link {
   color: var(--btn-cl);
}

.header__btn {
   padding: 12px 30px;
   transition: transform 0.4s ease;
}

.btn::before {
   position: absolute;
   top: 100%;
   left: 5%;
   width: 90% !important;
   height: 10px !important;
   content: "";
   background: radial-gradient(ellipse at center, rgb(22, 213, 255, .5) 0%, rgba(0, 0, 0, 0) 80%);
   opacity: 0;
   transition: opacity 0.4s ease,
   transform 0.4s ease;
}

.btn:hover::before {
   transform: translate(0,5px);
   opacity: 1;
   transition: opacity 0.4s ease,
   transform 0.4s ease;
}

.header__link-inner {
   position: absolute;
   top: 50px;
   border-radius: 5px;
   box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 10%);
   transform: translateY(20px);
   opacity: 0;
   transition: opacity 0.4s ease, transform 0.4s ease;
   z-index: 2;
}

.link-inner__link {
   position: relative;
   width: 250px;
   display: block;
   font-weight: 700;
   text-transform: capitalize;
   padding: 10px 20px;
   border-bottom: 1px solid rgb(136 136 136 / 0.3);
   color: var(--gray-cl);
   transition: padding 0.4s ease;
}

.link-inner__link:last-child {
   border: none;
}

.link-inner__link::before {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 39px;
   content: "";
   background: #16d5ff;
   transition: width 0.4s ease;
}

.link-inner__link:hover::before {
   width: 6px;
}

.header__item:hover .header__link-inner {
   transform: translateY(0);
   opacity: 1;
}

.header__list {
   display: none;
}

.header__menu {
   display: block;
   font-size: 34px;
}

@media screen and (min-width: 320px) {
   #hero-section {
      padding: 0 10px;
   }
}

@media screen and (min-width: 992px) {
   #hero-section {
      padding: 0;
   }
   .header__list {
      display: flex;
   }
   .header__menu {
      display: none;
   }
}


/* ------------------- */


.invest__inner {
   padding: 90px 0;
}

.invest__col:nth-child(1) {
   transform: translate(-40%,0);
   animation-name: col-anim;
   animation-duration: 1.3s;
   animation-fill-mode: both;
   opacity: 0;
}

.invest__img {
   transform: translate(40%,0);
   animation-name: img-anim, mg-anim2;
   animation-duration: 1.3s;
   opacity: 0;
   animation-fill-mode: both;
}

.invest__col:nth-child(2) {
   animation-name: col-infinite;
   animation-duration: 2s;
   animation-delay: 1.5s;
   animation-iteration-count: infinite;
}

@keyframes  col-infinite {
   50% {
      transform: translate(0,-7px);
   }
   100% {
      transform: translate(0,0);
   }
}

@keyframes col-anim {
   100% {
      transform: translate(0,0);
      opacity: 1;
   }
}

@keyframes img-anim {
   100% {
      opacity: 1;
      transform: translate(0,0); 
   }
}

.invest__title {
   color: #111;
   font-size: 50px;
   margin-bottom: 10px;
}

.invest__title span {
   color: #16d5ff;
}

.invest__desc {
   margin: 0;
   font-size: 16px;
   color: #888;
   margin-bottom: 30px;
   line-height: 1.5;
}

.invest__btn {
   text-transform: uppercase;
   padding: 15px 20px;
   transition: all 0.4s ease
}

@media screen and (min-width: 992px) {
   .menu-page {
      display: none;
   }
}

@media screen and (max-width: 992px) {
   .invest__title {
      font-size:35px;
   }
}

@media screen and (max-width: 768px) {
   .invest__title {
      font-size:30px;
      margin-bottom: 10px;
      text-align: center;
   }
   .invest__desc {
      text-align: center;
   }
   .invest__btn {
      padding: 10px 15px;
   }
   .invest__col:nth-child(1) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
   }
}


/* ------Work-section------ */


#works {
   padding: 100px 0;
   background-color: #f2f8fe;
   overflow: hidden;
}

.works__title-small {
   display: block;
   text-transform: uppercase;
   color: #16d5ff;
   font-weight: 500;
   text-align: center;
   margin-bottom: 5px;
}

.works__title {
   font-size: 40px;
   font-weight: 600;
   text-align: center;
   margin-bottom: 18px;
   color: #111;
}

.works__desc {
   text-align: center;
   color: #999;
   max-width: 650px;
   margin: 0 auto;
   line-height: 1.5;
   margin-bottom: 65px;
}

.works__col{
   position: relative;
}

.works__col:nth-child(1) {
   display: flex;
   justify-content: center;
}

.works__bg {
   position:absolute;
   width: 100%;
   height: 100%;
   background: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/work-petern.png");
   background-position: center;
   background-repeat: no-repeat;
   animation: bg-animation;
   animation-duration: 5s;
   left: 0;
   top: 0;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.works__img {
   animation: rotate-img;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

@keyframes rotate-img {
   100% {
      transform: rotate(180deg);
   }
}

@keyframes bg-animation {
   50% {
      transform: scale(1.2);
   }
   100% {
      transform: scale(0.8);
   }
}

.platform__title {
   font-size: 30px;
   max-width: 500px;
   font-weight: 600;
   margin-bottom: 25px;
   color: #111;
   line-height: 1.3;
}

.platform__desc {
   margin: 0;
   max-width: 480px;
   margin-bottom: 20px;
   color: #111;
   line-height: 1.8;
   font-size:14px;
}

.works__item {
   margin-bottom: 12px;
   display: flex;
   align-items: center;
}

.works__item p {
   margin: 0;
   line-height: 2;
   color: #111;
   margin-left: 10px;
}

.galochka {
   display: inline-block;
   background: #16d5ff;
   border-radius: 50%;
   padding: 10px;
   position: relative;
}

.galochka img {
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

@media screen and (max-width: 1200px) {
   .works__item {
      font-size: 14px;
      align-items: center;
   }
}

@media screen and (max-width: 992px) {
   .platform__title {
      font-size: 25px;
   }
   .platform__item {
      align-items: flex-start;
   }
   .galochka {
      transform: translate(0,7px);
   }
}

@media screen and (max-width: 768px) {
   .platform__title {
      font-size: 20px;
      margin-top: 30px;
   }
}


/* -----Features-section----- */


#features {
   padding-top: 100px;
   padding-bottom: 10px;
}

.features__small-title {
   display: block;
   color: #16d5ff;
   text-transform: uppercase;
   font-weight: 500;  
   margin-bottom: 5px;
   text-align: center;
}

.features__title {
   font-size: 40px;
   font-weight: 600;
   margin-bottom: 18px;
   text-align: center;
   color: #111;
}

.features__desc {
   color: #888;
   max-width: 650px;
   margin: 0 auto;
   text-align: center;
   line-height: 1.5;
   margin-bottom: 65px;
}

.features__block {
   max-width: 300px;
   margin-bottom: 80px;
}

.features__block:hover::before {
   filter: grayscale(1);
}

.features__block::before {
   content:"";
   width: 43px;
   height: 53px;
   display: block;
   margin-bottom: 27px;
   transition: filter 0.4s ease;
}

.features__item:nth-child(1) .features__block::before {
   background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/feature-1.png");
}

.features__item:nth-child(2) .features__block::before {
   width: 46px;
   height: 52px;
   background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/feature-2.png");
}

.features__item:nth-child(3) .features__block::before {
   width: 45px;
   height: 45px;
   background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/feature-3.png");
}

.features__item:nth-child(4) .features__block::before {
   width: 46px;
   height: 51px;
   background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/feature-4.png");
}

.features__item:nth-child(5) .features__block::before {
   width: 50px;
   height: 50px;
   background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/feature-5.png");
}

.features__item:nth-child(6) .features__block::before {
   width: 47px;
   height: 47px;
   background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/feature-6.png");
}

.bonus__link {
   font-size: 24px;
   font-weight: 600;
   color: #111;
   transition: color 0.4s ease;
}

.bonus__link:hover{
   color: #16d5ff;
}

.bonus__desc {
   color: #999;
   line-height: 1.5;
}

@media screen and (max-width: 768px) {
   .features__title {
      font-size: 35px;
      margin-bottom: 10px;
   }
   .features__desc {
      margin-bottom: 35px;
   }
   .features__item {
      display: flex;
      flex-direction: column;
   }
   .features__block::before {
      margin: 0 auto;
      margin-bottom: 10px;
   }
   .bonus__link {
      display: block;
      width: 100%;
      font-size: 20px;
      text-align: center;
      margin-bottom: 15px;
   }
   .features__block {
      max-width: 100%;
   }
   .bonus__desc {
      text-align: center;
      margin: 0 auto;
   }
}


/* --------Time-section--------- */


#time{
   background-color: #F2F8FE;
   padding: 100px 0;
 }
 .time__slider{
   height: 2px;
   border-bottom: 2px dashed  #c5c8cb;
   margin-top: 300px;
   margin-bottom: 175px;
   position: relative;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
 }
 .time__sircul{
   width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   top: -180px;
   display: flex;
   
 }
 .time__inner-text{
   width: 100%;
   text-align: center;
   margin-bottom: 15px;
 }
 .time__smal-raund{
   display: block;
   width: 15px;
   height: 15px; 
   background-color: #16d5ff;
   border-radius: 50%;
 }
 .time__line{
   border-left: 2px dashed #c5c8cb;
   height: 96px;
 
 }
 .time__borde{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 38px;
   height: 38px;
   background-color: #F2F8FE;
   border: 3px solid #16d5ff;
   border-radius: 50%;
   margin-bottom: 20px;
 }
 .time__big-round{
   width: 24px;
   height: 24px;
   background-color: #16d5ff;
   border-radius: 50%;
   display: block;
 }
 .time__inner-title{
   font-size: 19px;
   font-weight: 700;
   color: #16d5ff; 
   line-height: 24px; 
 }
 .time__sircul2{
   width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   display: flex;
   top: -62px;
 }
 .time__block{
   width: 300px;
 }
 .time-inner-title2{
   margin-bottom: 20px;
 }
 .time-borde2{
   margin-bottom: 0;
 }
 .time-smal-raund2{
   margin-bottom: 15px;
 }
 @media screen and (max-width:1200px){
   .time__block:nth-child(4){
     display: none;
   }
 }
 @media screen and (max-width:999px){
   .time__block:nth-child(3){
     display: none;
   }
 }
 @media screen and (max-width:644px){
   .time__block:nth-child(2){
     display: none;
   }
   .time__slider{
     justify-content: center;
   }
 }


/* ------Team-section------- */


@media screen and (min-width: 320px) {
   .team__inner {
      padding: 50px 0;
   }
   .team__item {
      margin-bottom: 40px;
   }
   .team__item-img {
      margin-bottom: 10px;
      border: 5px solid var(--btn-cl);
      border-radius: 50%;
      transition: border-color 0.4s ease;
   }
   .team__item-img:hover {
      border-color: var(--gray-cl);
   }
   .team__item-title {
      font-size: 20px;
      color: var(--btn-cl);
      margin-bottom: 15px;
      transition: color 0.4s ease;
   }
   .team__item-title:hover {
      color: var(--gray-cl);
   }
   .team__item-desc {
      font-size: 14px;
      margin-bottom: 20px;
   }
   .item-links-link {
      font-size: 20px;
      padding: 0 20px;
      color: var(--gray-cl);
   }
}

@media screen and (min-width: 860px) {
   .team__list {
      display: flex;
      flex-flow: row wrap;
      text-align: start;
      justify-content: space-around;
   }
   .team__item {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
   }
   .team__item-img {
      margin-right: 20px;
   }
   .team__item-title {
      font-size: 20px;
      color: var(--btn-cl);
      margin-bottom: 15px;
   }
   .team__item-desc {
      max-width: 300px;
      margin-bottom: 20px;
   }
   .item-links-link {
      font-size: 20px;
      padding: 0 20px;
      color: var(--gray-cl);
   }
   .item-links-link:nth-child(1) {
      padding-left: 0;
   }
}

@media screen and (min-width: 1200px) {
   .team__list {
      justify-content: space-between;
   }
   .team__item-desc {
      max-width: 420px;
   }
}


/* ------Token-section------- */


@media screen and (min-width: 1px) {
   #token {
      background: url('https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/tokensale.svg') no-repeat;
      background-attachment: fixed;
      background-position: 50% -96.3999px;
      background-color: #f2f8fe;
   }
   .token__inner {
      padding: 100px 0;
      text-align: start;
   }
   .token-title {
      text-align: start;
      margin: 0;
   }
   .token-title:nth-child(1) {
      margin-bottom: 15px;
   }
   .token-title:nth-child(2) {
      margin-bottom: 20px;
   }
   .token-title:nth-child(3) {
      font-size: 14px;
      margin-bottom: 25px;
   }
   .token__item {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-bottom: 20px;
      color: var(--gray-cl);
   }
   .token__item::before {
      width: 27px;
      height: 27px;
      content: "";
      margin-right: 10px;
      border-radius: 50%;
   }
   .token__item:nth-child(1)::before {
      background-color: #f85d77;
   }
   .token__item:nth-child(2)::before {
      background-color: #5ad6f8;
   }
   .token__item:nth-child(3)::before {
      background-color: #f8c04e;
   }
   .token__item:nth-child(4)::before {
      background-color: #ac56f7;
   }
   .token__item:nth-child(5)::before {
      background-color: #61f89f;
   }
   .donut {
      width: 320px;
      height: 320px;
      margin: 0 auto;
   }
   .donut-img {
      position: absolute;
      top: -25%;
   }
   .graph-logo {
      position: absolute;
      top: 38%;
      left: 33.5%;
      width: 110px;
      height: 110px;
   }
}

@media screen and (min-width: 800px) {
   .donut {
      top: 30px;
      width: 400px;
      height: 400px;
   }
   .donut-img {
      position: absolute;
      top: 0;
   }
   .graph-logo {
      position: absolute;
      top: 38%;
      left: 33.5%;
      width: 150px;
      height: 150px;
   }
}

@media screen and (min-width: 1200px) {
   .token__inner {
      display: flex;
   }
}


/* -------News-section-------- */


@media screen and (min-width: 1px) {
   .news__inner {
      padding: 50px 0;
   }
   .news__item{
      margin-bottom: 40px;
   }
   .news__item:nth-child(2) {
      display: none;
   }
   .news__item:nth-child(3) {
      display: none;
   }
   .news__item-imgs {
      overflow: hidden;
   }
   .news__item-img {
      width: 100%;
      margin-bottom: 15px;
      transition: transform 0.4s ease,
      filter 0.4s ease;
   }
   .news__item-img:hover {
      transform: scale(1.03);
      filter: brightness(0.5);
   }
   .news__item-title {
      font-size: 18px;
      margin-bottom: 10px;
   }
   .news__item-time {
      display: inline-block;
      margin-bottom: 10px;
      color: var(--btn-cl);
   }
   .news__item-desc {
      max-width: 370px;
      font-size: 14px;
      line-height: 170%;
      margin-bottom: 10px;
   }
   .news__item-btn {
      font-size: 14px;
      text-decoration: underline;
      color: var(--btn-cl);
   }
}

@media screen and (min-width: 700px) {
   .news__list {
      display: flex;
      justify-content: space-evenly;
   }
   .news__item {
      width: 315px;
   }
   .news__item:nth-child(2) {
      display: block;
   }
}

@media screen and (min-width: 1000px) {
   .news__list {
      justify-content: space-around;
   }
   .news__item {
      width: 435px;
   }
}

@media screen and (min-width: 1220px) {
   .news__list {
      justify-content: space-between;
   }
   .news__item {
      width: 370px;
   }
   .news__item:nth-child(3) {
      display: block;
   }
}


/* -------Apps-section-------- */


@media screen and (min-width: 320px) {
   #apps {
      padding: 0 20px;
     background-color: #F2F8FE;
   }
   .apps__texts {
     font-size: 14px;
     color: var(--btn-cl);
     padding-top: 50px;
     padding-bottom: 8px;
   }
   .apps__title {
     font-size: 20px;
     font-weight: 400px;
     padding-bottom: 10px;
   }
   .apps__text {
     font-family: var(--font-lato);
     font-size: 14px;
     color: #999;
     line-height: 24px;
     margin-bottom: 20px;
   }
   .apps__lists {
     padding-bottom: 30px;
   }
   .apps__item {
     margin-bottom: 24px;
   }
   .apps__subtext {
     font-family: var(--font-lato);
     font-size: 14px;
     color: #999;
     margin-left: 15px;
 
   }
   .apps__check {
     width: 18px;
     height: 18px;
     background-color: var(--btn-cl);
     border-radius: 50%;
     position: relative;
     margin-left: 15px;
   }
   .apps__checkk {
      width: 14px;
      height: 14px;
      position: absolute;
      top: 2px; 
      left: 1px;
      margin-right: 15px;
   }
   .apps__btn {
     padding: 6px 15px;
     background-color: var(--btn-cl);
     color: #fff;
     border-radius: 5px;
     display: inline-block;
     margin-bottom: 100px;
   }
 }
 
 @media screen and (min-width:992px) {
     .apps__title {
       font-size: 40px;
     }
     .apps__imgs {
       padding-top: 100px;
     }
     .apps__btn {
       padding: 12px 15px;
       transform: translateY(0);
       transition: transform 0.4s ease, box-shadow 0.4s ease;
     }
     .apps__btn:hover {
       transform: translateY(-5px);  
       box-shadow: 1px 20px 31px -12px var(--btn-cl);
     }
 }


/* --------Faq-section-------- */


@media screen and (min-width: 1px) {
   .faq__inner {
      padding: 50px 0;
   }
   .general__list {
      text-align: center;
   }
   .general__item {
      display: inline-block;
      padding: 0 20px;
      margin-bottom: 30px;
   }
   .general__link {
      position: relative;
      font-weight: 500;
      color: var(--btn-cl);
   }
   .general__link::before {
      position: absolute;
      bottom: -10px;
      width: 0;
      height: 2px;
      content: "";
      background-color: var(--btn-cl);
      transition: width 0.4s ease;
   }
   .general__link:hover::before {
      width: 100%;
   }
   .general__link--active::before {
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 2px;
      content: "";
      background-color: var(--btn-cl);
   }
   .faq__list {
      padding: 0 20px;
   }
   .faq__item {
      margin-bottom: 20px;
   }
   .faq__item-title {
      font-size: 20px;
      margin: 20px 0;
      color: var(--btn-cl);
      transition: color 0.4s ease;
   }
   .faq__item-title:hover {
      color: var(--gray-cl);
   }
   .faq__item-desc {
      max-width: 570px;
      font-size: 15px;
      line-height: 170%;
   }
}

@media screen and (min-width: 850px) {
   .faq__list {
      justify-content: space-around;
   }
   .faq__item-desc {
      max-width: 330px;
   }
}

@media screen and (min-width: 1030px) {
   .faq__list {
      justify-content: space-between;
   }
   .faq__item-desc {
      max-width: 570px;
   }
}


/* ---------Footer-section--------- */




